@charset "utf-8";
/* CSS Document */


.jumbotron{
	background: url(../img/White-Brick-Wallpaper1.jpg);
	background-position: center;
	background-repeat: repeat-x;
}
.card-img-top{
	width: auto;
	height: 180px;
}

